{% extends 'base.html' %}

{% block title %} About {% endblock%}

{% block content %}

{% load static%}



<header class="masthead" >
</header>

<section style="margin-top:2rem">
    <div class="container">
        
        
        <div class="row justify-content-center">
            <div class="text-center" >
            
                <h2 class="text-uppercase">Về Đại Phú</h2>
                
            </div>
            <div class="col-lg-8">
                <div class="modal-body" style="display:flex; text-align: center" >
                    <!-- Project details-->
                    
                    <p>
                        Công ty TNHH thương mại Đại Phú được thành lập và chính thức đi vào hoạt động năm 1994 với sứ mệnh tiên phong mang đến cho khách hàng những sản phẩm sơn tĩnh điện và thiết bị ngành sơn chất lượng cao. Trải qua 27 năm không ngừng phát triển và cải tiến trên thị trường, Đại Phú tự hào là một trong những thương hiệu sơn bột uy tín nhất tại Việt Nam hiện nay.
                    
                    
                        Luôn hướng đến chuẩn mực quốc tế trong hoạt động, các sản phẩm của Đại Phú được kiểm soát chặt chẽ từ khâu sản xuất, bảo quản cho đến vận chuyển. Hệ thống cơ sở hạ tầng, máy móc và công nghệ tiên tiến nhất thế giới hoạt động liên tục cung ứng số lượng lớn sản phẩm cho thị trường trong nước và xuất khẩu sang các nước khu vực Đông Nam Á.
                    
                        Với bề dày kinh nghiệm, sản phẩm chất lượng và đội ngũ nhân viên có năng lực, tận tâm, Đại Phú đã, đang và sẽ luôn là sự lựa chọn hàng đầu của các doanh nghiệp, cơ sở kinh doanh và của đông đảo khách hàng cá nhân. 
                    </p>
                    
                </div>
            </div>
        </div>
        
    </div>
</section>
<section style="margin-top:2rem" id="about">
    <div class="container">
        <div class="text-center" >
            <h2 class="section-heading text-uppercase">Lịch Sử Hình Thành</h2>
            <h3 class="section-subheading text-muted">&nbsp</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="static/theme/assets/img/logo2.png" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>1994</h4>
                        <h4 class="subheading">Văn phòng thương mại mang thương hiệu Đại Phú</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Thành lập năm 1994, Đại Phú là đơn vị tiên phong kinh doanh các loại sơn bột tĩnh điện, hóa chất xử lý bề mặt kim loại trước khi sơn và thiết bị phun sơn bột tĩnh điện.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="static/theme/assets/img/gema-logo.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>1995</h4>
                        <h4 class="subheading">Nhà Phân Phối Thiết Bị Cho Gema tại Việt Nam</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Năm 1995, với sự chuyên nghiệp và uy tín trong hoạt động, Đại Phú vinh dự trở thành nhà phân phối độc quyền tại Việt Nam cho hãng thiết bị phun sơn nổi tiếng từ Thụy Sĩ - GEMA. </p></div>
                </div>
            </li>
            <li >
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="static/theme/assets/img/protech-logo2.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>1999</h4>
                        <h4 class="subheading">Đại Phú được uỷ quyền sản xuất bột sơn theo công nghệ của Protech-Oxyplast</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Bằng nỗ lực phát triển và khát vọng mang tới những sản phẩm chất lượng quốc tế, năm 1999, Đại Phú chính thức là thành viên của của thương hiệu sơn đa quốc gia Protech - Oxyplast và tiếp nhận ủy quyền sản xuất bột sơn theo công nghệ của nhà sản xuất này.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="static/theme/assets/img/ngay1.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2000-2002</h4>
                        <h4 class="subheading">Khánh Thành Nhà Máy</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Giai đoạn 2000 - 2002 đánh dấu bước phát triển lớn mạnh của Đại Phú khi khởi công xây dựng nhà máy sản xuất sơn bột tĩnh điện và các loại hóa chất xử lý bề mặt kim loại trước khi sơn. Nhà máy được đặt tại  D2/1, Đường 1B Khu công nghiệp Vĩnh Lộc, Quận Bình Tân, TP. Hồ Chí Minh,Việt Nam; với toàn bộ hệ thống thiết bị nhập khẩu từ Châu Âu, hiện đại hàng đầu thế giới lúc bấy giờ. Nhờ đó, Đại Phú nhanh chóng trở thành nhà sản xuất sơn bột lớn nhất tại Việt Nam. </p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image align-items-center">
                    <h4>
                        Hãy là                     
                        câu chuyện của
                        chúng tôi!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>



{% endblock %}