

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}

@font-face {
    font-family:'Unna'; src:url(fonts/Unna-Regular.otf);
    font-family:'Abel'; src:url(fonts/abel-regular.ttf)
}


.first-column{
    width:60%;
    padding: 0 10px 0 0;
    float: left;
}
.second-column{
    width:40%;
    padding: 0 10px 0 0;
    float: right;
}
@media only screen and (max-width:800px){
    .first-column{
        width:100%;
        padding-bottom:10px;
        float: none;
    }
    .second-column{
        width:100%;
        padding: 10px;
        float: none;
    }
}



.bg-primary{
    background-color:#113975;
}
#bg-primary2{
    background-image: url("/static/theme/assets/img/logo.png");
}
 
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
    .navbar .nav-item .dropdown-menu li {
        position: relative;
      }
    .navbar .nav-item  .dropdown-menu .dropdown-submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
      }
    .navbar .nav-item .dropdown-menu .dropdown-submenu-left {
        right: 90%;
        left: auto;
       
      }
    .navbar .nav-item .dropdown-menu > li:hover > .dropdown-submenu {
        display: block;
      }
}
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media only screen and (max-width : 979px) {
  .dropdown-menu li:hover .dropdown-menu {
    position:static;
  }
}
/* ============ small devices .end// ============ */



#mainNav .navbar-nav .nav-item .nav-link{
    overflow:hidden;
    font-size: 1rem;
    color: black;
    position: center;
    font-family: "Merriweather";
}

#mainNav .navbar-nav .nav-item .nav-link:hover{
    overflow:hidden;
    font-size: 1rem;
    color: #989494;
    font-family: "Merriweather";

}

#mainNav .navbar-nav .nav-item .nav-link.active{
    overflow:hidden;
    font-size: 1rem;
    color: #989494;
    font-family: "Merriweather";
}

#mainNav .navbar-nav .nav-item .nav-link.active:hover{
    overflow:hidden;
    font-size: 1rem;
    color: #989494;
    font-family: "Merriweather";
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: black;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }
  .dropdown-item:hover, .dropdown-item:focus {
    color: #989494;
    background-color: transparent;
  }
  .dropdown-item.active, .dropdown-item:active {
    color: #989494;
    text-decoration: none;
    background-color: transparent;
  }
  .dropdown-item.disabled, .dropdown-item:disabled {
    color: #adb5bd;
    pointer-events: none;
    background-color: transparent;
  }
  
  .dropdown-menu.show {
    display: block;
  }
.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #E0DEDE;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
.btn-primary {
    color: #fff;
    background-color: #BD0707; 
    border-color: #BD0707;
  }
  .btn-primary:hover {
    color: #fff;
    background-color: #E72727;
    border-color: #E72727;
  }
  .btn-check:focus + .btn-primary, .btn-primary:focus {
    color: #fff;
    background-color: #BD0707;
    border-color: #BD0707;
    box-shadow: 0 0 0 0.25rem rgba(246, 122, 88, 0.5);
  }
  .btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #BD0707;
    border-color: #BD0707;
  }
  .btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(246, 122, 88, 0.5);
  }
  .btn-primary:disabled, .btn-primary.disabled {
    color: #fff;
    background-color: #BD0707;
    border-color: #BD0707;
  }


  #map {
    width: 100%; }
    @media (max-width: 767.98px) {
      #map {
        height: 300px; } }
  
  #contactForm .error {
    color: red;
    font-size: 12px; }
  
  #contactForm .form-control {
    font-size: 16px; }
  
  #message {
    resize: vertical; }
  
  #form-message-warning, #form-message-success {
    display: none; }
  
  #form-message-warning {
    color: red; }
  
  #form-message-success {
    color: #28a745;
    font-size: 18px;
    font-weight: 500; }
  
  .submitting {
    float: left;
    width: 100%;
    padding: 10px 0;
    display: none;
    font-size: 16px;
    font-weight: 500;
    color: #2553b8; }


    .timeline {
        position: relative;
        padding: 0;
        list-style: none;
      }
      .timeline:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 40px;
        width: 2px;
        margin-left: -1.5px;
        content: "";
        background-color: #e9ecef;
      }
      .timeline > li {
        position: relative;
        min-height: 50px;
        margin-bottom: 50px;
      }
      .timeline > li:after, .timeline > li:before {
        display: table;
        content: " ";
      }
      .timeline > li:after {
        clear: both;
      }
      .timeline > li .timeline-panel {
        position: relative;
        float: right;
        width: 100%;
        padding: 0 20px 0 100px;
        text-align: left;
      }
      .timeline > li .timeline-panel:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
      }
      .timeline > li .timeline-panel:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
      }
      .timeline > li .timeline-image {
        position: absolute;
        z-index: 100;
        left: 0;
        width: 80px;
        height: 80px;
        margin-left: 0;
        text-align: center;
        color: white;
        border: 7px solid #e9ecef;
        border-radius: 100%;
        background-color: #c50909;
      }
      .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
        font-size: 10px;
        line-height: 14px;
        margin-top: 12px;
      }
      .timeline > li.timeline-inverted > .timeline-panel {
        float: right;
        padding: 0 20px 0 100px;
        text-align: left;
      }
      .timeline > li.timeline-inverted > .timeline-panel:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
      }
      .timeline > li.timeline-inverted > .timeline-panel:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
      }
      .timeline > li:last-child {
        margin-bottom: 0;
      }
      .timeline .timeline-heading h4, .timeline .timeline-heading .h4 {
        margin-top: 0;
        color: inherit;
      }
      .timeline .timeline-heading h4.subheading, .timeline .timeline-heading .subheading.h4 {
        text-transform: none;
      }
      .timeline .timeline-body > ul,
      .timeline .timeline-body > p {
        margin-bottom: 0;
      }
      
      @media (min-width: 768px) {
        .timeline:before {
          left: 50%;
        }
        .timeline > li {
          min-height: 100px;
          margin-bottom: 100px;
        }
        .timeline > li .timeline-panel {
          float: left;
          width: 41%;
          padding: 0 20px 20px 30px;
          text-align: right;
        }
        .timeline > li .timeline-image {
          left: 50%;
          width: 100px;
          height: 100px;
          margin-left: -50px;
        }
        .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
          font-size: 13px;
          line-height: 18px;
          margin-top: 16px;
        }
        .timeline > li.timeline-inverted > .timeline-panel {
          float: right;
          padding: 0 30px 20px 20px;
          text-align: left;
        }
      }
      @media (min-width: 992px) {
        .timeline > li {
          min-height: 150px;
        }
        .timeline > li .timeline-panel {
          padding: 0 20px 20px;
        }
        .timeline > li .timeline-image {
          width: 150px;
          height: 150px;
          margin-left: -75px;
        }
        .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
          font-size: 18px;
          line-height: 26px;
          margin-top: 30px;
        }
        .timeline > li.timeline-inverted > .timeline-panel {
          padding: 0 20px 20px;
        }
      }
      @media (min-width: 1200px) {
        .timeline > li {
          min-height: 170px;
        }
        .timeline > li .timeline-panel {
          padding: 0 20px 20px 100px;
        }
        .timeline > li .timeline-image {
          width: 170px;
          height: 170px;
          margin-left: -85px;
        }
        .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
          margin-top: 40px;
        }
        .timeline > li.timeline-inverted > .timeline-panel {
          padding: 0 100px 20px 20px;
        }
      }


#portfolio .portfolio-item {
  max-width: 200px;

  margin-left: auto;
  margin-right: auto;
}
#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #BD0707;
  align-items: center;
  justify-content: center;
  opacity: 0.1;
  transition: opacity ease-in-out 0.25s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 1.25rem;
  color: white;
}
#portfolio .portfolio-item .portfolio-link:hover .portfolio-hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-heading {
  font-size: 1.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  margin-bottom: 0;
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-subheading {
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.portfolio-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}
.portfolio-modal .modal-content {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}
.portfolio-modal .modal-content h2, .portfolio-modal .modal-content .h2 {
  font-size: 3rem;
  line-height: 3rem;
}
.portfolio-modal .modal-content p.item-intro {
  font-style: italic;
  margin-bottom: 2rem;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.portfolio-modal .modal-content p {
  margin-bottom: 2rem;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 2rem;
}
.portfolio-modal .modal-content img {
  margin-bottom: 2rem;
}
.portfolio-modal .close-modal {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: transparent;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}


.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

  body {
  margin: 0;
  font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #C0BCBC;
  background-color: #262525;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding-top:90px;
}

.img-fluid {
  max-width: 100%;
  height: 100%;
}

.img-fluid2{
  max-width: 100%;
  height: 300px;
}

.img-fluid3{
  width: 100%;
  height: auto;
}

.img-fluid4{
  width: 340px;
  height: 280px;
}

.carousel-inner {
  position: center;
  width: 100%;
  height: 100%;
}




.text-primary2{
  color:#262525;
}


* {box-sizing: border-box;}


.button5{
  border-radius: 50%;
}

.link-dark {
  color: #C0BCBC;
}
.link-dark:hover, .link-dark:focus {
  color: #C0BCBC;
}

.page-section2 {
  padding: 6rem 0;
}

.footer {
  text-align: center;
  font-size: 0.9rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

img{
  max-width: 100%;
  max-height: 100%;
}





.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #000;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.nav-link.active{
  overflow:hidden;
  font-size: 1rem;
  color: #989494;
}


hr.divider2{
  height: 0.2rem;
  max-width: 100%;
  
  background-color: #c50909;
  opacity: 1;
}


.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: .75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: white;
  border-radius: .25rem;
}
.breadcrumb-item.active{
  color:black;
}

.breadcrumb-item+.breadcrumb-item::before {
  display: inline-block;
  padding-right: .5rem;
  color: #6c757d;
  content: "»";
}




.portfolio-item2{
  max-width:370px;
  margin-left: auto;
  margin-right: auto;
 
}
.portfolio-caption2 {
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
  color: black;
}




.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}
a{
  color: #E72727;
}
a:hover{
  color: #f52a2a;
}
.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: rgba(0,0,0,0);
}
.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content:center;
  color:#000;
}
.card-footer:hover{
  border-color: #c50909;
  background-color: #c50909;
  color:rgba(0, 0, 0, 0);
}
.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
  color: black;
}
.gcard {
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}
.gcard .card-title{
  font-size: 1.25rem;
}
.text-red{
  color:#c50909;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}
img.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto 
}

.tab{
  margin-left:40px;
}

.carousel {
  
  max-height: calc(100vh - 81px);
  overflow: hidden;
}

.carousel.pointer-event {
  touch-action: pan-y;
}

.carousel-inner {
  position: relative;
  width: 100%;
  
  object-fit: cover;
}
.carousel-inner::after {
  display: block;
  clear: both;
  content: "";
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    transition: none;
  }
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

/* rtl:begin:ignore */
.carousel-item-next:not(.carousel-item-start),
.active.carousel-item-end {
  transform: translateX(100%);
}

.carousel-item-prev:not(.carousel-item-end),
.active.carousel-item-start {
  transform: translateX(-100%);
}

/* rtl:end:ignore */
.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
  transform: none;
}
.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-start,
.carousel-fade .carousel-item-prev.carousel-item-end {
  z-index: 1;
  opacity: 1;
}
.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  z-index: 0;
  opacity: 0;
  transition: opacity 0s 0.6s;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
    transition: none;
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: none;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-control-prev,
.carousel-control-next {
    transition: none;
  }
}
.carousel-control-prev:hover, .carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

/* rtl:options: {
  "autoRename": true,
  "stringMap":[ {
    "name"    : "prev-next",
    "search"  : "prev",
    "replace" : "next"
  } ]
} */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}
.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-indicators [data-bs-target] {
    transition: none;
  }
}
.carousel-indicators .active {
  opacity: 1;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

.carousel-dark .carousel-control-prev-icon,
.carousel-dark .carousel-control-next-icon {
  filter: invert(1) grayscale(100);
}
.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #000;
}
.carousel-dark .carousel-caption {
  color: #000;
}
.carousel_image{
  width:100%;
  height:100%;
  object-fit: cover;
}
