{% extends 'base.html' %}
{% load static %}
{% block title %} 
Bột Sơn Trong Nhà 
{% endblock%}


{% block content %}
<!-- carousel slide-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" >
      <img src="../../static/theme/assets/img/indoor.jpg" height="400px" width="100%" alt="First slide">
    </div>
    
  </div>
</div>
<!--breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"><a href="{{ san_pham_url }}">Sản Phẩm</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="{{ bot_son_url }}">Bột Sơn</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="{{ trong_nha_url }}">Bột Sơn Trong Nhà</a></li>
    </ol>
</nav>
<div class="row">
  <!-- item 1-->
  <div class="col-lg-3 col-sm-6 mb-4">
      <div class="card h-100 text-center gcard zoomIn animated">
          <img class="img-fluid3 card-img-top" src="../../static/theme/assets/img/den1.jpg" alt="..." />
          <div class="card-body" >
            <h3 class="card-title text-red">Hệ Epoxy</h3>
            <p>Dòng sản phẩm bột sơn sử dụng nhựa hệ Epoxy</p>
          </div>
          <div class="card-footer text-white" style="font-size:18px;">
              <a class="text-decoration-none stretched-link" href="{{ he_epoxy_url }}">
                  <div style="color:black"><span class="fas fa-link"></span>&#9 Hệ Epoxy</div>
              </a>
          </div>                  
      </div>
  </div>
  <!-- item 2-->
  <div class="col-lg-3 col-sm-6 mb-4">
    <div class="card h-100 text-center gcard zoomIn animated">
        <img class="img-fluid3 card-img-top" src="../../static/theme/assets/img/den4.jpg" alt="..." />
        <div class="card-body" >
          <h3 class="card-title text-red">Hệ Polyester Epoxy</h3>
          <p>Dòng sản phẩm bột sơn sử dụng nhựa hệ Polyester-Epoxy</p>
        </div>
        <div class="card-footer text-white" style="font-size:18px;">
            <a class="text-decoration-none stretched-link" href="{{ he_polyester_epoxy_url }}">
                <div style="color:black"><span class="fas fa-link"></span>&#9 Hệ Polyester Epoxy</div>
            </a>
        </div>                  
    </div>
  </div>
</div>
{% endblock %}