{% extends 'base.html' %}

{% load static %}




{% block title %} Buồng Phun Tay {% endblock%}


{% block content %}
<!-- description -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100 " src="../../../static/theme/assets/img/equip_manual/manual_booth_bg.jpg" alt="First slide">
      </div>
    </div>
</div>
<!-- breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"><a href="{{ san_pham_url }}">Sản Phẩm</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="{{ thiet_bi_url }}">Thiết Bị Phun Sơn</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="{{ equip_manual_url }}">Thiết Bị Phun Tay</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="{{ manual_booth_url }}">Buồng Phun</a></li>
    </ol>
</nav>
<div class="row">
    <div class="col-lg-3 col-sm-6 mb-4" data-categories="[0]">
        <div class="card h-100 text-center gcard">
            <img src="../../../static/theme/assets/img/equip_manual/manual_booth1.jpeg" class="card-img-top img-fluid3" alt="" title="">
            <div class="card-body">
                <h3 class="card-title text-red">Linh hoạt và hiệu năng cao</h3>
                <p>Buồng Phun tay là giải pháp tuyệt vời cho cái lô sản xuất từ nhỏ cho tới lớn. </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4" data-categories="[0]">
        <div class="card h-100 text-center gcard">
            <img src="../../../static/theme/assets/img/equip_manual/manual_booth2.jpeg" class="card-img-top img-fluid3" alt="" title="ClassicLine Manual Booth">
            <div class="card-body">
                <h3 class="card-title text-red">Thiết kế gọn gàng, dễ dàng tích hợp vào mọi hệ thống</h3>
                <p>Buồng phun tay có 1 thiết kế gọn gàng, với module điều khiển tích hợp sẵn và được để trên các bánh xe để dễ dàng di chuyển khi cần.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4" data-categories="[0]">
        <div class="card h-100 text-center gcard">
            <img src="../../../static/theme/assets/img/equip_manual/manual_booth3.jpeg" class="card-img-top img-fluid3" alt="" title="ClassicLine Manual Booths">
            <div class="card-body">
                <h3 class="card-title text-red">Giải pháp cho nhiều vấn đề</h3>
                <p>Khách hàng có thể chọn giữa thiết kế sẵn có và thiết kế mở, thích hợp cho các bộ phận lớn, với dung tích sử dụng bột lên tới 4000 Nm3/giờ to 6000 Nm3/giờ.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4" data-categories="[0]">
        <div class="card h-100 text-center gcard">
            <img src="../../../static/theme/assets/img/equip_manual/manual_booth4.jpeg" class="card-img-top img-fluid3" alt="" title="ClassicLine Manual Booths">
            <div class="card-body">
                <h3 class="card-title text-red">Dễ dàng dọn dẹp cho thay đổi màu sắc</h3>
                <p>Với các ống thông hơi có thể thay đổi và miếng đáy bằng thép giúp được lau dọn buồng phun dễ dàng khi cần thay đổi màu.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4" data-categories="[0]">
        <div class="card h-100 text-center gcard">
            <img src="../../../static/theme/assets/img/equip_manual/manual_booth5.jpeg" class="card-img-top img-fluid3" alt="" title="ClassicLine Manual Booth">
            <div class="card-body">
                <h3 class="card-title text-red"> Chắc chắn và dễ bảo quản</h3>
                <p>Hệ thống buồng chắc chắn tạo nên không gian làm việc thoáng. 1 lời nhắc nhở nhẹ nhàng là khách hàng nên thay đầu lọc thường xuyên để đảm bảo chất lượng sản phẩm.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4" data-categories="[0]">
        <div class="card h-100 text-center gcard">
            <img src="../../../static/theme/assets/img/equip_manual/manual_booth6.jpeg" class="card-img-top img-fluid3" alt="" title="ClassicLine Manual Booth">
            <div class="card-body">
                <h3 class="card-title text-red">Thiết kế hiện dại và an toàn</h3>
                <p>Buồng phun sử dụng các bộ phận từ ATEX để đảm bảo mức an toàn cao nhất và được chấp thuận bới các công ty bảo hiểm.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}