{% extends 'base.html' %}

{% load static %}




{% block title %} Xe Đẩy {% endblock%}


{% block content %}
<!-- description -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../../../static/theme/assets/img/equip_manual/optiflex_bg.jpg" alt="First slide" height="350px">
      </div>
    </div>
</div>
<!-- breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"><a href="{{ san_pham_url }}">Sản Phẩm</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="{{ thiet_bi_url }}">Thiết Bị Phun Sơn</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="{{ equip_manual_url }}">Thiết Bị Phun Tay</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="{{ manual_optiflex_url }}">Xe Đẩy</a></li>
    </ol>
</nav>
<!-- content -->
<div class="row">
    <!-- item 1-->
    <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center gcard zoomIn animated">
            <img src="../../../static/theme/assets/img/equip_manual/optiflex-pro-q.jpg" class="card-img-top img-fluid3" alt="" title="">
            <div class="card-body">
                <h3 class="card-title text-red">Xe đẩy Xe đẩy OptiFlex® Pro Q: Thay đổi màu sắc trong 35 giây.</h3>
                <p>Không cần vốn đầu nhiều, khách hàng có thể giảm thời giản chờ thay đổi màu và tối ưu năng suất làm việc.</p>
            </div>
            
        </div>
    </div>
    <!-- item 2-->
    <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center gcard zoomIn animated">
            <img src="../../../static/theme/assets/img/equip_manual/optiflex-pro-b.jpg" class="card-img-top img-fluid3" alt="" title="">
            <div class="card-body">
                <h3 class="card-title text-red">Xe đẩy OptiFlex® Pro B: Tuyệt vời cho đổi màu thường xuyên </h3>
                <p>Xe đẩy lấy bột thẳng từ thùng chưa. Không cần phải thay và rửa thùng chứa trước mỗi lần đổi màu.</p>
            </div>
            
        </div>
    </div>
    <!-- item 3-->
    <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center gcard zoomIn animated">
            <img src="../../../static/theme/assets/img/equip_manual/optiflex-pro-f.jpg" class="card-img-top img-fluid3" alt="" title="">
            <div class="card-body">
                <h3 class="card-title text-red">Xe đẩy OptiFlex®Pro F: chất lượng và năng suất</h3>
                <p>Thùng chứa với dung tích 50 l thích hợp cho sử dụng thường xuyên và làm tơi bột hoàn hảo ngay cả khi ở trong điều kiện thời tiết khắc nghiệt.</p>
            </div>
            
        </div>
    </div>
    <!-- item 4-->
    <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center gcard zoomIn animated">
            <img src="../../../static/theme/assets/img/equip_manual/optiflex-pro-fe.jpg" class="card-img-top img-fluid3" alt="" title="">
            <div class="card-body">
                <h3 class="card-title text-red">Xe đẩy OptiFlex®Pro FE: được thiết kế cho các công trình sử dụng bột enamel </h3>
                <p>Sử dụng bột enamel dễ dàng và cho màng sơn với tính chất phức tạp cao với năng suất vượt cả mong đợi, ngay cả khi ở trong điều kiện thời tiết khắc nghiệt.</p>
            </div>
            
        </div>
    </div>
    <!-- item 5-->
    <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center gcard zoomIn animated">
            <img src="../../../static/theme/assets/img/equip_manual/optiflex-pro-s.jpg" class="card-img-top img-fluid3" alt="" title="">
            <div class="card-body"><h3 class="card-title text-red">Xe đẩy OptiFlex® Pro S: đáp án tốt nhất cho các loại bột phức tạp. </h3>
                <p>Thiết kế đọc đáo giúp cho giữ các loại bột khó làm tơi hoặc bón cục.</p>
            </div>
           
        </div>
    </div>
    <!-- item 6-->
    <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center gcard zoomIn animated">
            <img src="../../../static/theme/assets/img/equip_manual/optiflex-pro-f-spray.jpg" class="card-img-top img-fluid3" alt="" title="">
            <div class="card-body">
                <h3 class="card-title text-red">Xe đẩy OptiFlex® Pro F Spray: được thiết kế cho hiệu năng cao hơn</h3>
                <p>Việc sử dụng máy bơm bột OptiSpray AP01 giúp bảo đảm màn sơn tuyệt vời với khả năng bơm 600g/phút.</p>
            </div>
            
        </div>
    </div>
      <!-- item 7-->
    <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center gcard zoomIn animated">
            <img src="../../../static/theme/assets/img/equip_manual/optiflex-pro-b-spray.jpg" class="card-img-top img-fluid3" alt="" title="">
            <div class="card-body">
                <h3 class="card-title text-red">Xe đẩy OptiFlex® Pro B Spray: Box manual unit with OptiSpray application pump</h3>
                <p>Thay đổi màu nhanh và dễ dàng với ống dẫn bột kết nối với thùng chứa.</p>
            </div>
            
        </div>
    </div>
      <!-- item 8-->
    <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center gcard zoomIn animated">
            <img src="../../../static/theme/assets/img/equip_manual/optiflex-pro-lc.jpg" class="card-img-top img-fluid3" alt="" title="">
            <div class="card-body">
                <h3 class="card-title text-red">Xe đẩy OptiFlex® Pro L / C: thích hợp cho các lô lẻ và phòng thí nghiệm</h3>
                <p>Với thiết kế súng phun gọn gàng và thùng chứa bột dung tích 4l tạo nên sự linh hoạt, dễ sử dụng và kết quả tuyệt vời.</p>
            
            </div>
        </div>
    </div>
      <!-- item 9-->
    <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center gcard zoomIn animated">
            <img src="../../../static/theme/assets/img/equip_manual/optiflex-pro-cf.jpg" class="card-img-top img-fluid3" alt="" title="">
            <div class="card-body">
                <h3 class="card-title text-red">Xe đẩy OptiFlex® Pro CF: Cho phòng thí nghiệp</h3>
                <p>Thích hợp với các lô bột nhỏ.</p>
            </div>
            
        </div>
    </div>
      <!-- item 10-->
    <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center gcard zoomIn animated">
            <img src="../../../static/theme/assets/img/equip_manual/optiflex-pro-w.jpg" class="card-img-top img-fluid3" alt="" title="">
            <div class="card-body">
                <h3 class="card-title text-red">Xe đẩy OptiFlex® Pro W: tích hợp dễ dàng với mọi hệ thống sơn </h3>
                <p>Được thiết kế để gắn trên thành của buồng phun sơn OptiFlex Pro W, có thể dễ dàng tích hợp với tất cả hệ thống sơn.</p>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}