{% extends 'base.html' %}

{% load static %}




{% block title %} Module Điều Khiển Súng Phun {% endblock%}


{% block content %}
<!-- description -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>

    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../../../static/theme/assets/img/equip_auto/optistar-bg.jpeg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../../static/theme/assets/img/equip_auto/optistar-bg2.jpeg" alt="Second slide">
      </div>
    </div>
</div>
<!-- breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"><a href="{{ san_pham_url }}">Sản Phẩm</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="{{ thiet_bi_url }}">Thiết Bị Phun Sơn</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="{{ equip_auto_url }}">Thiết Bị Phun Tự Động</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="{{ optistsar_url }}">Module Điều Khiển Súng Phun</a></li>
    </ol>
</nav>
<div class="row">
    <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center gcard zoomIn animated">
            <img class="img-fluid2 card-img-top" src="../../../static/theme/assets/img/equip_auto/cg08-c.png" alt="..." />
            <div class="card-body">
              <h3 class="card-title text-red">OptiStar® Module Điều Khiển Súng CG08-C </h3>
            </div>
                              
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center gcard zoomIn animated">
            <img class="img-fluid2 card-img-top" src="../../../static/theme/assets/img/equip_auto/cg09.png" alt="..." />
            <div class="card-body">
                <h3 class="card-title text-red">OptiStar® Module Điều Khiển Súng CG09 </h3>
            </div>                 
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center gcard zoomIn animated">
            <img class="img-fluid2 card-img-top" src="../../../static/theme/assets/img/equip_auto/cg11-p.png" alt="..." />
            <div class="card-body">
                <h3 class="card-title text-red">OptiStar® Module Điều Khiển Súng CG11-P </h3>
            </div>                 
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center gcard zoomIn animated">
            <img class="img-fluid2 card-img-top" src="../../../static/theme/assets/img/equip_auto/cg12-cp.png" alt="..." />
            <div class="card-body">
                <h3 class="card-title text-red">OptiStar® Module Điều Khiển Súng CG12-CP </h3>
            </div>                 
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center gcard zoomIn animated">
            <img class="img-fluid2 card-img-top" src="../../../static/theme/assets/img/equip_auto/cg13.png" alt="..." />
            <div class="card-body">
                <h3 class="card-title text-red">OptiStar® Module Điều Khiển Súng CG13 </h3>
            </div>                 
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center gcard zoomIn animated">
            <img class="img-fluid2 card-img-top" src="../../../static/theme/assets/img/equip_auto/cg20-c.png" alt="..." />
            <div class="card-body">
                <h3 class="card-title text-red">OptiStar® 4.0 Module Điều Khiển Súng CG20-C </h3>
            </div>                 
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center gcard zoomIn animated">
            <img class="img-fluid2 card-img-top" src="../../../static/theme/assets/img/equip_auto/cg21.png" alt="..." />
            <div class="card-body">
                <h3 class="card-title text-red">OptiStar® 4.0 Module Điều Khiển Súng CG21 </h3>
            </div>                 
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center gcard zoomIn animated">
            <img class="img-fluid2 card-img-top" src="../../../static/theme/assets/img/equip_auto/cg22-c.png" alt="..." />
            <div class="card-body">
                <h3 class="card-title text-red">OptiStar® Module Điều Khiển Súng All-In-One CG22-C </h3>
            </div>                 
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center gcard zoomIn animated">
            <img class="img-fluid2 card-img-top" src="../../../static/theme/assets/img/equip_auto/cg23-p.png" alt="..." />
            <div class="card-body">
                <h3 class="card-title text-red">OptiStar® 4.0 Module Điều Khiển Súng CG23-P </h3>
                
            </div>                 
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center gcard zoomIn animated">
            <img class="img-fluid2 card-img-top" src="../../../static/theme/assets/img/equip_auto/cg24-cp.png" alt="..." />
            <div class="card-body">
                <h3 class="card-title text-red">OptiStar® 4.0 Module Điều Khiển Súng CG24-CP </h3>
            </div>                             
        </div>
    </div>
</div>
{% endblock %}