{% extends 'base.html' %}

{% load static %}




{% block title %} Máy Bơm Bột {% endblock%}


{% block content %}
<!-- description -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../../../static/theme/assets/img/equip_manual/optispray1.jpeg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../../static/theme/assets/img/equip_manual/optispray2.jpeg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../../static/theme/assets/img/equip_manual/optispray3.jpeg" alt="Third slide">
      </div>
    </div>
</div>
<!-- breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"><a href="{{ san_pham_url }}">Sản Phẩm</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="{{ thiet_bi_url }}">Thiết Bị Phun Sơn</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="{{ equip_auto_url }}">Thiết Bị Phun Tự Động</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="{{ optispray_url }}">Máy Bơm Bột</a></li>
    </ol>
</nav>

<!--content-->
<div class="row">
    <div class="col-lg-3 col-sm-6 mb-4" data-categories="[0]">
        <div class="card h-100 text-center gcard">
            <img src="../../../static/theme/assets/img/equip_manual/optispray4.jpg" class="card-img-top img-fluid3" alt="" title="">
            <div class="card-body">
                <h3 class="card-title text-red">Đường dẫn bột hợp lí</h3>
                <p>Đường bột duy nhất từ thùng chứa tạo nên sự vận chuyển chính xác với khối lượng bộ hợp lí tới súng và tối ưu dòng phun bột cho chất lượng bề mặt, ngay cả khi sử dụng các loại bột khó dùng.</p>
            </div>
            
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4" data-categories="[0]">
        <div class="card h-100 text-center gcard">
            <img src="../../../static/theme/assets/img/equip_manual/optispray5.jpeg" class="card-img-top img-fluid3" alt="" title="">
            <div class="card-body">
                <h3 class="card-title text-red">Năng lượng đầu ra hợp lí</h3>
                <p>Với thiết kế kiểm soát khí cực tốt giúp cho việc sự dụng nguồn điện ổn định để duy trì chất lượng của màng sơn và tiết kiệm năng lượng. </p>
            </div>
            
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4" data-categories="[0]">
        <div class="card h-100 text-center gcard">
            <img src="../../../static/theme/assets/img/equip_manual/optispray6.jpeg" class="card-img-top img-fluid3" alt="" title="">
            <div class="card-body">
                <h3 class="card-title text-red">Tiết kiệm bột dễ dàng mỗi ngày</h3>
                <p>Tính năng dùng bột ổn định cải thiện hiệu năng của vận chuyển bột và lãng phí bột ở các chỗ màng sơn dày khác nhau.</p>
            </div>
            
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4" data-categories="[0]">
        <div class="card h-100 text-center gcard">
            <img src="../../../static/theme/assets/img/equip_manual/optispray7.jpeg" class="card-img-top img-fluid3" alt="" title="OptiSpray AP01">
            <div class="card-body">
                <h3 class="card-title text-red">Chất lượng tuyệt vời và ổn định</h3>
                <p>Bột được phun ra ổn định và nhẹ nhàng giúp giải thiện chất lượng sản phẩm, duy trì sự ổn định trong thời gian dài nhờ tới công nghệ chống hao mòn.</p>
            </div>
            
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4" data-categories="[0]">
        <div class="card h-100 text-center gcard">
            <img src="../../../static/theme/assets/img/equip_manual/optispray8.jpeg" class="card-img-top img-fluid3" alt="" title="OptiSpray AP01">
            <div class="card-body">
                <h3 class="card-title text-red">Thay đổi màu tự động </h3>
                <p>Máy bơm bột OptiSpray được tích hợp sẵn hệ thống lọc máy tự động giúp lau dọn máy bơm, ống dẫn bột, ống khí, và súng phun sơn.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4" data-categories="[0]">
        <div class="card h-100 text-center gcard">
            <img src="../../../static/theme/assets/img/equip_manual/optispray9.png" class="card-img-top img-fluid3" alt="" title="">
            <div class="card-body">
                <h3 class="card-title text-red">Dễ dàng tích hợp và bảo quản</h3>
                <p>Máy bơm bột có thể  tích hợp trong các hệ thống mới hoặc các hệ thống có sẵn trên thị trường. Tất cả bộ phận có thể dễ dàng tháo ra để kiểm tra mà không cần công cụ đặc biệt nào cả.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}