{% extends 'base.html' %}

{% load static %}




{% block title %} Bộ Điều Khiển Trung Tâm {% endblock%}


{% block content %}
<!-- description -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../../../static/theme/assets/img/equip_auto/optiflex1.jpeg" alt="First slide">
      </div>
    </div>
</div>
<!-- breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"><a href="{{ san_pham_url }}">Sản Phẩm</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="{{ thiet_bi_url }}">Thiết Bị Phun Sơn</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="{{ equip_auto_url }}">Thiết Bị Phun Tự Động</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="{{ optiflex_url }}">Bộ Điều Khiển Trung Tâm</a></li>
    </ol>
</nav>
<div class="row">
    <div class="col-lg-3 col-sm-6 mb-4" >
        <div class="card h-100 text-center gcard">
            <img src="../../../static/theme/assets/img/equip_auto/optiflex2.jpeg" class="card-img-top img-fluid2" alt="" title="">
            <div class="card-body">
                <h3 class="card-title text-red">Tập trung mọi dữ liệu thông số</h3>
                <p>Với thế hệ mới của MagicControl, mọi chương trình và thông số cho hệ thống phun sơn như súng, tay robot, và buồng phun đều được quản lí.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4" >
        <div class="card h-100 text-center gcard">
            <img src="../../../static/theme/assets/img/equip_auto/optiflex3.jpeg" class="card-img-top img-fluid2" alt="" title="">
            <div class="card-body">
                <h3 class="card-title text-red">Giao diện sử dụng đơn giản</h3>
                <p>Màn hình cảm ứng với nhiều icon hướng dẫn tạo nên sự đơn giản cho mọi thao tác.</p>
                <div>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4" >
        <div class="card h-100 text-center gcard">
            <img src="../../../static/theme/assets/img/equip_auto/optiflex4.jpeg" class="card-img-top img-fluid2" alt="" title="">
            <div class="card-body">
                <h3 class="card-title text-red">Tái hiện lại kết quả phun trước</h3>
                <p>Nhờ tới MagicControl, mọi chương trình và thông số kỹ thuật được lưu trữ tại trung tâm. Chương trình được tạo nên bởi cá nhân có thể sử dụng và lấy ra bất kì lúc nào.</p>
                <div>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4" >
        <div class="card h-100 text-center gcard">
            <img src="../../../static/theme/assets/img/equip_auto/optiflex5.jpeg" class="card-img-top img-fluid2" alt="" title="">
            <div class="card-body">
                <h3 class="card-title text-red">Tự động hoá hoàn toàn</h3>
                <p>Hệ thống điều khiển được thiết kế để dùng từ xa với mọi bộ phận trong quá trình phun sơn. Điều này làm đơn giản công đoạn sản xuất và bảo trì and cải thiện quy trình quản lí hiệu quả hơn.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4" >
        <div class="card h-100 text-center gcard">
            <img src="../../../static/theme/assets/img/equip_auto/optiflex6.jpeg" class="card-img-top img-fluid2" alt="" title="">
            <div class="card-body">
                <h3 class="card-title text-red">Ổn định chất lượng với lượng bột tiêu hao thấp nhất</h3>
                <p> Mọi thông số kỹ thuật có được được sử dùng tuỳ vào dạng bột và được lập trình sẵn trên màn hình sử dụng.</p>
                <div>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4" >
        <div class="card h-100 text-center gcard">
            <img src="../../../static/theme/assets/img/equip_auto/optiflex7.jpeg" class="card-img-top img-fluid2" alt="" title="">
            <div class="card-body">
                <h3 class="card-title text-red">Linh hoạt trong việc sắp đặt cấu hình và tích hợp</h3>
                <p>Hệ thống MagicControl có thể sử dụng dễ dàng tại nơi phun sơn, ngay cả khi đứng một mình hoặc tích hợp vào bộ điều khiển trung tâm.&nbsp;</p>
                <div>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4" >
        <div class="card h-100 text-center gcard">
            <img src="../../../static/theme/assets/img/equip_auto/optiflex8.jpeg" class="card-img-top img-fluid2" alt="" title="">
            <div class="card-body">
                <h3 class="card-title text-red">Công nghệ CanBus đáng tin cậy cho các thông tin lưu hành nội bộ </h3>
                <p>Công nghệ CanBus được dùng để chia sẻ thông tin của các bộ phận của hệ thống phun như súng, tay robot, máy quét hình thể, máy quét tốc độ,... </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4" >
        <div class="card h-100 text-center gcard">
            <img src="../../../static/theme/assets/img/equip_auto/optiflex9.jpeg" class="card-img-top img-fluid2" alt="" title="">
            <div class="card-body">
                <h3 class="card-title text-red">Dữ liệu đồng hoá với các hệ thống PC và PLC </h3>
                <p>MagicControl được kết nối trên Internet<sup>®</sup> , kết nối dễ dàng và thông tin đáng tin cậy được lưu hành nội bộ.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center gcard zoomIn animated">
            <img src="../../../static/theme/assets/img/equip_auto/optiflex10.jpeg" class="card-img-top img-fluid2" alt="" title="">
            <div class="card-body">
                <h3 class="card-title text-red">Quét ảnh bằng công nghệ 3D</h3>
                <p>Giải pháp tối ưu này cho phép khả năng tự động hoá của quy trình phun sơn. Hệ thống quét được gần như mọi hình thể của các sản phẩm và đưa từng súng phun lên tới vị trí thích hợp để sơn những chỗ khó nhất.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}