{% extends 'base.html' %}

{% load static %}




{% block title %} Bộ Điều Khiển Bột Trung Tâm {% endblock%}


{% block content %}
<!-- description -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../../../static/theme/assets/img/equip_auto/powder-man-bg.jpeg" alt="First slide">
      </div>
    </div>
</div>
<!-- breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"><a href="{{ san_pham_url }}">Sản Phẩm</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="{{ thiet_bi_url }}">Thiết Bị Phun Sơn</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="{{ equip_auto_url }}">Thiết Bị Phun Tự Động</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="{{ powder_center_url }}">Bộ Điều Khiển Bột Trung Tâm</a></li>
    </ol>
</nav>
<!--content-->
<div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-3 mb-3">
        <div class="card h-100 text-center gcard zoomIn animated">
            <img src="../../../static/theme/assets/img/equip_auto/oc6.jpeg" class="card-img-top img-fluid2" alt="" title=""><div class="card-body">
                <h3 class="card-title text-red">Bộ Điều Khiển Bột Trung Tâm OptiCenter® All-in-One OC06:<br> App công nghệ và ống dẫn bột trong 1 hệ thống</h3>
                <p>Bộ điều khiển bột trung tâm với hiệu suất cao và thiết kế gọn gàng</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-3 mb-3">
        <div class="card h-100 text-center gcard zoomIn animated">
            <img src="../../../static/theme/assets/img/equip_auto/oc7.jpeg" class="card-img-top img-fluid2" alt="" title="">
            <div class="card-body">
                <h3 class="card-title text-red">Bộ Điều Khiển Bột Trung Tâm OptiCenter® OC07:<br> Bộ điều khiển bột trung tâm với công nghệ máy bơm bột</h3>
                <p>Đổi màu nhanh và bột phun ra ổn dịnh</p>
            </div>
            
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-3 mb-3">
        <div class="card h-100 text-center gcard zoomIn animated">
            <img src="../../../static/theme/assets/img/equip_auto/oc8.jpeg" class="card-img-top img-fluid2" alt="" title="">
            <div class="card-body">
                <h3 class="card-title text-red">Bộ Điều Khiển Bột Trung Tâm OptiCenter® OC08:<br> Powder Management with injector technology</h3>
                <p>Tối ưu hoá đổi màu và giá điều hành thấp </p>
            </div>
            
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-3 mb-3">
        <div class="card h-100 text-center gcard zoomIn animated">
            <img src="../../../static/theme/assets/img/equip_auto/oc9.jpeg" class="card-img-top img-fluid2" alt="" title="">
            <div class="card-body">
                <h3 class="card-title text-red">Bộ Điều Khiển Bột Trung Tâm OptiCenter® OC09:<br> Sạch sẽ - Hiệu suất cao - Linh hoạt</h3>
                <p>Là giải pháp tối ưu cho những doanh nghiệp sử dụng dung lượng bột ít đến vừa đang tìm cách cải thiện quy trình sử dụng bột hiệu quả cho quy trình phun đổi màu.</p>
                <p>&nbsp;</p>
            </div>
           
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-3 mb-3">
        <div class="card h-100 text-center gcard zoomIn animated">
            <img src="../../../static/theme/assets/img/equip_auto/oc5.jpeg" class="card-img-top img-fluid2" alt="" title="OptiCenter OC05">
            <div class="card-body">
                <h3 class="card-title text-red">Bộ Điều Khiển Bột Trung Tâm OptiCenter® OC05:<br> Bộ điều khiển bột trung tâm cơ bản tích hợp với công nghệ máy bơm bột OptiSpray AP01</h3>
                <p>Linh hoạt với thùng chứa bột lớn, đổi màu nhanh, OC05 tạo ra sản phẩm với bề mặt đẹp tuyệt vời với công nghệ điều khiển trung tâm thuận lợi tích hợp với máy bơm bột OptiSpray.</p>
            </div>
            
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-3 mb-3">
        <div class="card h-100 text-center gcard zoomIn animated">
            <img src="../../../static/theme/assets/img/equip_auto/oc4.jpeg" class="card-img-top img-fluid2" alt="" title="OptiCenter OC04">
            <div class="card-body">
                <h3 class="card-title text-red">Bộ Điều Khiển Bột Trung Tâm OptiCenter® OC04:<br> Bộ điều khiển bột trung tâm cơ bản tích hợp với công nghệ OptiFlow Injector</h3>
                <p>Linh hoạt với thùng chứa bột lớn, đổi màu nhanh, OC04 tạo ra sản phẩm với bề mặt đẹp tuyệt vời it với công nghệ điều khiển trung tâm thuận lợi tích hợp với injector OptiFlow.</p>
            </div>
           
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-3 mb-3">
        <div class="card h-100 text-center gcard zoomIn animated">
            <img src="../../../static/theme/assets/img/equip_auto/auto_powder_hopper.jpg" class="card-img-top img-fluid2" alt="" title="Powder Hopper">
            <div class="card-body">
                <h3 class="card-title text-red">Powder Hopper: <br> Giải pháp cho mọi vấn đề</h3>
                <p>Nhiều lựa chọn với thùng chứa bột có tính năng làm tơi, có sẳn nhiều dung tích và giúp duy trì độ tơi hợp lí cho bột.</p>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}