{% extends 'base.html' %}

{% load static %}




{% block title %} Tay Robot {% endblock%}


{% block content %}
<!-- description -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../../../static/theme/assets/img/equip_auto/reciprocator-bg.jpeg" alt="First slide">
      </div>
    </div>
</div>
<!-- breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"><a href="{{ san_pham_url }}">Sản Phẩm</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="{{ thiet_bi_url }}">Thiết Bị Phun Sơn</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="{{ equip_auto_url }}">Thiết Bị Phun Tự Động</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="{{ reciprocator_url }}">Tay Robot</a></li>
    </ol>
</nav>
<!--content-->
<div class="row">
    <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center gcard zoomIn animated">
            <img src="../../../static/theme/assets/img/equip_auto/reciprocator1.jpeg" class="card-img-top img-fluid2" alt="" title="">
            <div class="card-body">
                <h3 class="card-title text-red">Tay Robot chiều đứng ZA10</h3>
                <p>Giải pháp đơn giản hiệu quả cho khách hàng ở các thị trường khác nhau với nhu cầu khác nhau.</p>
            </div>
            
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center gcard zoomIn animated">
            <img src="../../../static/theme/assets/img/equip_auto/reciprocator2.jpeg" class="card-img-top img-fluid2" alt="" title="ZA vertical reciprocator with 4 guns">
            <div class="card-body">
                <h3 class="card-title text-red">Tay Robot chiều đứng ZA07/08/15</h3>
                <p>Chịu tải tốt, đáng tin cậy, và dễ dàng bảo trì tay robot, di chuyển với độ chuẩn xác cao và dễ dàng điều khiển.</p>
            </div>
            
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center gcard zoomIn animated">
            <img src="../../../static/theme/assets/img/equip_auto/reciprocator3.jpeg" class="card-img-top img-fluid2" alt="" title="">
            <div class="card-body">
                <h3 class="card-title text-red">Tay Robot chiều đứng ZA13: cho trọng tải lớn </h3>
                <p>Tay robot chịu tải cực tốt với thiết kế nhỏ gọn, di chuyển với độ chính xác cao và dễ dàng điều khiển.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center gcard zoomIn animated">
            <img src="../../../static/theme/assets/img/equip_auto/reciprocator4.jpeg" class="card-img-top img-fluid2" alt="" title="XT horizontal axis">
            <div class="card-body">
                <h3 class="card-title text-red">Tay Robot đa chiều XT</h3>
                <p>Tay robot di chuyển tay robot ZA, theo chiều thẳng, vào trong hoặc ra ngoài buồng để thích ứng với hình thể của sản phảm. Giải pháp thích hợp cho súng phun được rửa sạch tại thời điểm đổi màu.</p>
            </div>
            
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center gcard zoomIn animated">
            <img src="../../../static/theme/assets/img/equip_auto/reciprocator5.jpeg" class="card-img-top img-fluid2" alt="" title="YT synchornizing axis">
            <div class="card-body">
                <h3 class="card-title text-red">Tay Robot đa chiều YT</h3>
                <p>Tay robot di chuyển tay robot ZA, theo chiều thẳng, đồng bộ với tốc độ di chuyển. Thích hợp cho phun các góc và các sản phẩm khó khăn khác.</p>
            </div>
            
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center gcard zoomIn animated">
            <img src="../../../static/theme/assets/img/equip_auto/reciprocator6.jpeg" class="card-img-top img-fluid2" alt="" title="U in-out axis"><div class="card-body">
                <h3 class="card-title text-red">Tay Robot chiều từ trong ra ngoài U</h3>
                <p>Chiều U di chuyển 1 tới 2 súng vào trong hoặc ra ngoài. Thích hợp cho điều chỉnh vị trí súng và phun góc.</p>
            </div>
            
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center gcard zoomIn animated">
            <img src="../../../static/theme/assets/img/equip_auto/reciprocator7.jpeg" class="card-img-top img-fluid2" alt="" title="">
            <div class="card-body">
                <h3 class="card-title text-red">Tay Robot chiều từ trong ra ngoài UA04</h3>
                <p>Điều chỉnh ngang của súng giúp tối ưu vị trí súng nhờ tới công nghệ mới nhất.</p>
            </div>
            
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center gcard zoomIn animated">
            <img src="../../../static/theme/assets/img/equip_auto/reciprocator8.jpeg" class="card-img-top img-fluid2" alt="" title="AR rotating axis">
            <div class="card-body">
                <h3 class="card-title text-red">Tay Robot chiều xoay AR</h3>
                <p>Góc này có thể xoay 1 tới 2 súng ở bán kính nhất định. Thích hợp cho phun xung quanh vật thể hình tròn như bánh xe hoặc lòng máy giặt.</p>
            </div>
            
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center gcard zoomIn animated">
            <img src="../../../static/theme/assets/img/equip_auto/reciprocator9.jpeg" class="card-img-top img-fluid2" alt="" title="SR tilting axis">
            <div class="card-body">
                <h3 class="card-title text-red">Tay Robot chiều nghiêng SR</h3>
                <p>Góc này có thể xoay tay robot ZA vào trong hoặc ra ngoài buồng phun. Thích hợp để tạo nên màng sơn ổn định trên bề mặt có góc nghiêng lên trên.</p>
            </div>
            
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center gcard zoomIn animated">
            <img src="../../../static/theme/assets/img/equip_auto/reciprocator10.jpeg" class="card-img-top img-fluid2" alt="" title="">
            <div class="card-body">
                <h3 class="card-title text-red">Hệ thống quét hình thể sản phẩm: chất lượng và tiết kiệm</h3>
                <p>Tự động hoá vị trí súng, kích hoạt và cải thiện màng sơn và giảm hao tốn bột sơn ở trong hệ thống bột thu hồi.</p>
            </div>
            
        </div>
    </div>
</div>
    
{% endblock %}